@use "./variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#fixedMenu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 10% 1rem 10%;
    background-color: unset;
    #dxlogo{
        height: 36px;
        padding: 0 2.5rem;
    }
    .navMenu {
        display: flex;
        gap: 2rem;
        color: $menu-txt-color;
        font-family: $main-font;
        font-weight: 500;
        a{
            text-decoration: none;
            color: $menu-txt-color;
        }
    }
    .userOptions{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        .iconOptions{
            height: 18px;
            &:hover{
                cursor: pointer;
            }
        }
        button{
            display: flex;
            align-items: center;
            gap: .4rem;
            font-family: $main-font;
            font-size: .9rem;
            font-weight: 500;
            color: white;
            padding: .5rem 1rem;
            background-color: $menu-main-color;
            border: none;
            outline: none;
            border-radius: .3rem;
            &:hover{
                background-color: $menu-main-color;
                opacity: .9;
                cursor: pointer;
            }
            img{
                height: 1.3rem;
                filter: invert(1);
            }

        }
    }
}