@use "../../menu/styles/variables.scss" as *;
@use "./mixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgb(254, 243, 199), rgb(255, 255, 255));
  padding: 1.5rem 10%;
  gap: 2rem;
  #homeContainer {
    #homeTextContainer {
      display: flex;
      flex-direction: column;
      h1 {
        font-family: "Playfair Display, serif";
        font-weight: 600;
        font-size: 4em;
        line-height: .9em;
        span {
          background-clip: text;
          background-image: linear-gradient(to right, $gradient-color);
          color: transparent;
        }
      }
      p {
        font-family: $main-font;
        font-size: 1.1em;
      }
    }
    div {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      .btnExplore {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        @include btnFontStyle();
        color: white;
        background-color: $menu-main-color;
        border: none;
        outline: none;
        border-radius: 0.3rem;
        @include btnTransition();
        &:hover {
          background-color: $menu-main-color;
          opacity: 0.9;
          cursor: pointer;
        }
        img {
          height: 0.8rem;
          filter: invert(1);
        }
      }
      .btnHistory {
        @include btnFontStyle();
        @include btnTransition();
        color: hsl(42 87% 55%);
        background-color: transparent;
        outline: none;
        border-color: hsl(42 87% 55%);
        border-radius: 0.3rem;
        border-style: solid;
        border-width: 1px;
        &:hover {
          background-color: hsla(340, 82%, 52%, 0.1);
          color: black;
          cursor: pointer;
        }
      }
    }
  }
  #homeImage {
    height: 32.5rem;
    border-radius: 10px;
  }
}
