
$menu-txt-color: rgb(55 65 81);
$sub-txt-color: rgba(55, 65, 81, .8);
$menu-main-color: hsl(340 82% 52%); //Tem que adicionar opacity de .9
$main-font: 'Poppins', sans-serif;
$title-font: 'Playfair Display', serif;
$sub-color: hsl(42 87% 55%); //Tem que adicionar opacity de .9
$gradient-color: hsl(340 82% 52%) , hsl(42 87% 55%);
$card-bg: hsla(42, 87%, 55%, .15);

// Cor no início do gradiente #FEF3C7